<template>
<div class="blog-post">
  <div v-for="data in dossier" :key="data.id">
    <img :src="data.acf.dossier_image">
    <div class="post-content">
      <h1 class="post-title">{{ data.title.rendered }}</h1>
      <div class="md-subhead">Écrit le {{ moment(data.date).format('DD/MM/YYYY') }} à {{ moment(data.date).format('hh:mm:ss') }} par {{  author.name }}</div>
      <div class="text" v-html="data.acf.dossier_corps"></div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'BlogPost',
  data() {
    return {
      slug: null,
      dossier: [],
      authorId: null,
      author: []
    }
  },
  created() {
    this.slug = this.$route.params.slug

    axios.get('http://localhost:8888/gdh_wp/wp-json/wp/v2/dossiers?slug=' + this.slug)
      .then(response => {
        this.dossier = response.data
        this.authorId = this.dossier[0].author

        axios.get('http://localhost:8888/gdh_wp/wp-json/wp/v2/users/' + this.authorId)
          .then(response => {
            console.log(response.data)
            this.author = response.data
          }, error => (alert(error)))
      }, error => (alert(error)))


  }
}
</script>


 <style>
  img {
    width: 100%;
    max-height: 500px;
  }

  .post-content {
    padding:3em 20em;
  }

  .post-title {
    font-size:36px;
    font-weight: 600;
    line-height: 36px;
  }

  .article-sub {
    margin-top: 10px;
  }

  .text {
    font-size: 20px;
    line-height: 26px;
  }

  .clap {
    position: relative;
    right: -10%;
    top:0;
  }
 </style>
