<template >
  <div class="home">
    <h1 class="welcome">Bienvenue sur le Guide de l'Habitat</h1>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.welcome {
  font-size: 3em;
  color:orange;
}
</style>
