<template>
<div id="profile">
  <form novalidate class="md-layout" @submit.prevent="updateUser">

    <md-card class="md-layout-item md-size-50 md-small-size-100">
      <md-card-header>
        <div class="md-title">Modifier vos informations personnelles.</div>
      </md-card-header>

      <md-card-content>

        <md-field>
          <label>Changez votre nom</label>
          <md-input v-model="form.name" v-bind:placeholder="userName"></md-input>
        </md-field>

        <md-field>
          <label>{{ userRole }}</label>
          <md-select v-model="form.role">
            <md-option value="Admin">Admin</md-option>
            <md-option value="User">User</md-option>
          </md-select>
        </md-field>

      </md-card-content>

      <md-card-actions>
        <md-button type="submit" class="md-raised md-primary md-p-r">Modifier mes informations.</md-button>
      </md-card-actions>

    </md-card>

    <md-snackbar :md-active.sync="failedAttempt">Échec de la connexion. 😭
      <md-button class="md-primary" @click="showSnackbar = false">Fermer</md-button>
    </md-snackbar>

  </form>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'App',
  data: () => ({
    form: {
      name: null,
      role: null
    },
    userName: localStorage.getItem('userName'),
    userRole: localStorage.getItem('userRole'),
    userId: localStorage.getItem('userId'),
    successfulAttempt: false,
    failedAttempt: false
  }),
  methods: {
    updateUser() {
      var userId = this.$data.userId
      axios.post('users/update/' + userId, this.form)
        .then(response => {
          let userName = this.form.name;
          let userRole = this.form.role;
          Event.$emit('update', userName, userRole);
        })
    }
  },
  mounted() {
    if (this.$parent.loggedIn === false ) {
      this.$router.push('/');
    }
  }
}

</script>

<style lang="css">
form {
    justify-content: center;
    position: relative;
    top: 10em;
}
</style>
