<template>
<div>
  <form novalidate class="md-layout" method="POST" @submit.prevent="validateUser">
    <md-card class="md-layout-item md-size-50 md-small-size-100">
      <md-card-header>
        <div class="md-title">Inscription</div>
      </md-card-header>

      <md-card-content>
        <div class="md-layout-item md-small-size-100">
          <md-field :class="getValidationClass('name')">
            <label for="first-name">Nom</label>
            <md-input name="name" id="name" autocomplete="given-name" v-model="form.name" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.name.required">Vous devez renseigner votre nom.</span>
            <span class="md-error" v-else-if="!$v.form.name.minlength">Votre nom doit comporter au moins 3 caractères.</span>
          </md-field>
        </div>

        <md-field :class="getValidationClass('email')">
          <label for="email">Adresse e-mail</label>
          <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" />
          <span class="md-error" v-if="!$v.form.email.required">Vous devez renseigner votre adresse e-mail.</span>
          <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
        </md-field>

        <md-field :class="getValidationClass('password')">
          <label for="password">Mot de passe</label>
          <md-input type="password" name="password" id="password" autocomplete="password" v-model="form.password" :disabled="sending" />
          <span class="md-error" v-if="!$v.form.password.required">Vous devez renseigner votre mot de passe.</span>
          <span class="md-error" v-else-if="!$v.form.password.minlength">Votre mot de passe doit comporter au moins 6 caractères.</span>
        </md-field>
      </md-card-content>

      <md-progress-bar md-mode="indeterminate" v-if="sending" />

      <md-card-actions>
        <md-button type="submit" class="md-raised md-primary md-p-r" :disabled="sending">S'incrire</md-button>
      </md-card-actions>
    </md-card>

    <md-snackbar :md-active.sync="userSaved">Vous êtes inscrit en tant que {{ lastUser }}</md-snackbar>
  </form>


</div>
</template>

<script>
import axios from 'axios';

import {
  validationMixin
} from 'vuelidate'

import {
  required,
  email,
  password,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'

export default {
  name: 'FormValidation',
  mixins: [validationMixin],
  data: () => ({
    form: {
      name: null,
      email: null,
      password: null
    },
    userSaved: false,
    sending: false,
    lastUser: null
  }),
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3)
      },
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(6)
      }
    }
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },
    clearForm() {
      this.$v.$reset()
      this.form.name = null
      this.form.email = null
      this.form.password = null
    },
    saveUser() {
      this.sending = true
      axios.post('register', this.form)
      .then(response => {
          let token = response.data.user.api_token
          localStorage.setItem('token', token)
        },
        window.setTimeout(() => {
          this.lastUser = `${this.form.name}`
          this.userSaved = true
          this.sending = false
          this.clearForm()
        }, 1500),
        window.setTimeout(() => {
          this.$router.push('/login')
        }, 2000)
      )
      .catch(error => {
        window.setTimeout(() => {
          console.log(error)
          this.failedAttempt = true
          this.userSaved = false
        }, 1500)
      });
    },
    validateUser() {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.saveUser()
      }
    }
  },
  mounted() {
    if (this.$parent.loggedIn === true) {
      this.$router.push('/');
    }
  }
}
</script>

<style lang="scss" scoped>
.md-progress-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

form {
    justify-content: center;
    position: relative;
    top:10em;
}
</style>
