<template>
<div class="search">

  <md-autocomplete v-model="query" v-on:input="getResult(query)" :md-options="results" md-layout="box" md-dense :md-fuzzy-search="false">
    <label>Que cherchez-vous ? </label>

    <template slot="md-autocomplete-item" slot-scope="{ item, term }">
        <md-highlight-text :md-term="term">{{ item.seo_title }}</md-highlight-text>
      </template>
  </md-autocomplete>

  <div class="block-results" v-if="results && query !== '' ">
    <div class="md-layout-item" v-for="value in filteredResults">
      <md-card :id="value.id">
        <md-card-media>
          <img src="https://source.unsplash.com/random/1000x1000">
        </md-card-media>
        <div class="card-text">
          <md-card-header>
            <div class="card-header">
              <div class="md-title">{{ value.seo_title }} </div>

            </div>
            <div class="md-subhead">
              <i class="fas fa-map-marker"></i>
              <span style="margin-left:10px;">{{ value.info_city }} - {{ value.info_departments }}</span>
            </div>
          </md-card-header>

          <md-card-content v-html="value.seo_main"></md-card-content>
          <md-card-actions>
            <md-button class="md-accent" @click="erase(value)"><i class="fas fa-eraser"></i></md-button>
            <md-button class="md-primary" :href="`mailto:${value.info_mail}`"><i class="fas fa-envelope"></i></md-button>
            <md-button class="md-primary" :href="`tel:${value.info_phone_one}`"><i class="fas fa-phone"></i></md-button>
          </md-card-actions>
        </div>


      </md-card>
    </div>
  </div>
  <div v-if="query === '' " class="searchplaceholder">
    <i class="fas fa-magic"></i>
    <p>Entrez votre requête et trouvez l'artisan le plus adapté à vos besoins !</p>
  </div>
  <div v-if="filteredResults.length === 0 && query !== '' " class="searchplaceholder">
    <i class="fas fa-meh"></i>
    <p>Aucun résultat ne correspond à votre recherche.</p>
  </div>

  <md-snackbar :md-active.sync="deleteElement">Élément supprimé.
    <md-button class="md-primary" @click="showSnackbar = false">Fermer</md-button>
  </md-snackbar>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Search',
  data() {
    return {
      results: [],
      query: '',
      deleteElement: false
    }
  },
  methods: {
    getResult(query) {
      axios.get('pages').then(response => {
        this.results = response.data
      });
    },
    erase(value) {
      axios.delete('pages/' + value.id)
        .then(response => {
          axios.get('pages').then(response => {
            this.results = response.data
            this.deleteElement = true
          })
        });
    }
  },
  computed: {
    filteredResults: function() {
      return this.results.filter((value) => {
        return value.seo_title.toLowerCase().includes(this.query.toLowerCase()) || value.seo_main.toLowerCase().includes(this.query.toLowerCase()) || value.info_departments.toLowerCase().includes(this.query.toLowerCase());
      });
    }
  },
  mounted() {
    if (this.$parent.loggedIn === false) {
      this.$router.push('/');
    }
  }
}
</script>

<style scoped>

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

img {
  height: 200px;
  max-width: 100%;
  object-fit: cover;
}

.md-card {
  display: flex;
  vertical-align: top;
  width: 100%;
  margin: 10px 0px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.md-card-media {
  overflow: hidden;
  width: 40%;
  object-fit: cover;
  object-position: center;
}

.md-app {
  background-color: rgb(250, 250, 250) !important;
  border: 0px;
}

.md-content {
  background-color: rgb(250, 250, 250) !important;
  padding: 20px;
}

.md-drawer {
  z-index: 0;
  height: 275px;
}

.md-subhead {
  font-size: 12px;
  margin-top: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchplaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  color: rgba(0, 0, 0, 0.4);
  /* background-color: rgba(0,0,0,0.4); */
}

.fa-magic,
.fa-meh {
  font-size: 7em;
}

.md-progress-spinner {
  display: flex;
}

.block-results {
  max-height: 75vh;
  overflow-x: scroll;
  /* background-color: rgba(0,0,0,0.4); */
}

.md-layout-item {
  margin: 3em;
}
</style>
