<template lang="html">
  <div class="write-article has-background">
    <form novalidate class="md-layout" method="POST" @submit.prevent="validateArticle">
      <md-card class="md-layout-item md-size-80 md-small-size-100">
        <md-card-header>
          <div class="md-title">Écrire un article</div>
        </md-card-header>

        <md-card-content>

          <md-field :class="getValidationClass('title')">
            <label for="title">Titre</label>
            <md-input type="text" name="title" id="title" v-model="form.title" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.title.required">Votre article doit obligatoirement posséder un titre.</span>
            <span class="md-error" v-else-if="!$v.form.title.minlength">Votre titre doit faire au moins 6 caractères.</span>
          </md-field>

          <md-field :class="getValidationClass('body')">
            <label for="body"> Entrez votre texte.</label>
            <md-textarea md-autogrow name="body" id="body" v-model="form.body" :disabled="sending"></md-textarea>
            <span class="md-error" v-if="!$v.form.body.required">Votre article doit obligatoirement posséder un contenu.</span>
            <span class="md-error" v-else-if="!$v.form.body.minlength">Votre article doit comporter au moins 100 caractères.</span>
          </md-field>

        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-raised md-primary md-p-r" :disabled="sending"><i class="fas fa-paper-plane"></i></md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="articleSaved">Article publié.
        <md-button class="md-primary" @click="showSnackbar = false">Fermer</md-button>
      </md-snackbar>
      <md-snackbar :md-active.sync="failedAttempt">L'article n'a pas pu être publié.
        <md-button class="md-primary" @click="showSnackbar = false">Fermer</md-button>
      </md-snackbar>
    </form>

  </div>
</template>

<script>
import axios from 'axios';

import {
  validationMixin
} from 'vuelidate'

import {
  required,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'

axios.defaults.baseURL = 'http://127.0.0.1:8000/api/'

export default {
  name: 'FormValidation',
  mixins: [validationMixin],
  data: () => ({
    form: {
      title: null,
      body: null
    },
    articleSaved: false,
    failedAttempt: false,
    sending: false,
  }),
  validations: {
    form: {
      title: {
        required,
        minLength: minLength(6)
      },
      body: {
        required,
        minLength: minLength(100)
      }
    }
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },

    clearForm() {
      this.$v.$reset()
      this.form.title = null
      this.form.body = null
    },

    validateArticle() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saveArticle()
        this.sending = false
      }
    },

    saveArticle() {
      this.sending = true
      axios.post('articles', this.form)
        .then(response => {
          this.articleSaved = true;
          this.sending = false;
          this.clearForm();
          console.log(response);
        })
        .catch(error => {
          console.log(error)
          this.failedAttempt = true
          this.articleSaved = false
        });
    }
  },
  mounted(){
    if (this.$parent.loggedIn === false ) {
      this.$router.push('/');
    }
  }
}
</script>

<style lang="css">
form {
    justify-content: center;
    position: relative;
    top: 10em;
}
.md-progress-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
</style>
