<template>
<div id="app">
  <md-toolbar class="nav" md-elevation="1" style="justify-content:space-between;">
    <svg @click="$router.push('/');" xmlns="http://www.w3.org/2000/svg" width="102.07" height="117.77" viewBox="0 0 102.07 117.77"><title>Logo GDH</title><g id="8cbac8e5-6653-4538-8e5f-d988def8a72f" data-name="Calque 2"><g id="fe959a0f-194c-4e53-9f26-da7c5be46c8c" data-name="Logo"><polygon points="88.97 37.01 88.97 51.6 101.6 44.3 101.6 29.71 88.97 37.01" fill="#ff931e"/><polygon points="51.05 15.14 51.05 29.73 51.06 29.73 88.97 51.6 88.97 37.01 51.05 15.14" fill="#ff931e"/><polygon points="51.05 102.65 51.05 117.24 101.6 88.06 101.6 73.47 51.05 102.65" fill="#ff931e"/><polygon points="13.12 80.78 13.12 37.01 0.47 29.73 0.47 88.08 51.05 117.24 51.05 102.65 13.12 80.78" fill="#ff931e"/><polygon points="63.69 51.6 51.05 58.9 76.33 73.49 51.05 88.06 25.76 73.49 13.12 80.78 51.05 102.65 101.6 73.47 63.69 51.6" fill="#ff931e"/><polygon points="51.05 58.9 51.05 73.49 63.69 80.78 76.33 73.49 51.05 58.9" fill="#ff931e"/><polygon points="13.12 37.01 13.12 80.78 25.76 73.49 25.76 44.31 51.05 29.71 51.05 15.12 13.12 37.01" fill="#ff931e"/><polygon points="51.05 0.54 0.47 29.73 13.12 37.01 51.05 15.12 88.97 37.01 101.6 29.71 51.05 0.54" fill="#ff931e"/><line x1="51.05" y1="15.14" x2="51.06" y2="29.73" fill="none" stroke="#fff" stroke-width="0.93"/><line x1="88.97" y1="51.6" x2="88.97" y2="37.01" fill="none" stroke="#fff" stroke-width="0.93"/><line x1="101.6" y1="73.47" x2="51.05" y2="102.65" fill="none" stroke="#fff" stroke-width="0.93"/><polyline points="63.69 80.78 76.33 73.49 51.05 58.9" fill="none" stroke="#fff" stroke-width="0.93"/><line x1="25.76" y1="73.49" x2="13.12" y2="80.78" fill="none" stroke="#fff" stroke-width="0.93"/><polyline points="101.6 29.71 88.97 37.01 51.05 15.12 13.12 37.01 13.12 80.78 51.05 102.65" fill="none" stroke="#fff" stroke-width="0.93"/><polyline points="63.69 80.78 51.05 88.06 25.76 73.49 25.76 44.31 51.05 29.71 88.97 51.6 101.6 44.3 101.6 29.71 51.05 0.54 0.47 29.73 0.47 88.08 51.05 117.24 101.6 88.06 101.6 73.47 63.69 51.6 51.05 58.9 51.05 73.49 63.69 80.78" fill="none" stroke="#fff" stroke-width="0.93"/></g></g></svg>

    <div class="md-toolbar-section-end">
      <!-- Non connecté -->
      <md-button v-if="!loggedIn" class="md-primary" @click="$router.push('/login');">Connexion</md-button>
      <md-button v-if="!loggedIn" class="md-raised md-primary md-p-r" @click="$router.push('/register');">Inscription</md-button>

      <!-- Connecté -->
      <md-badge v-if="loggedIn && bugNumber !== 0 && userRole === 'Admin' " class="md-primary" :md-content="bugNumber">
        <md-button class="md-icon-button md-primary md-raised" @click="$router.push('/debugboard');">
          <i class="fas fa-bug"></i>
        </md-button>
      </md-badge>
      <md-button v-if="loggedIn && bugNumber === 0 && userRole === 'Admin'" @click="$router.push('/debugboard');" class="md-icon-button md-primary md-raised"><i class="fas fa-bug"></i></md-button>
      <md-button v-if="loggedIn" class="md-raised md-primary md-p-r" @click="showSidepanel = true">Menu</md-button>
    </div>


  </md-toolbar>

  <md-drawer class="md-right" :md-active.sync="showSidepanel">
    <md-toolbar class="md-transparent" md-elevation="0">
      <div class="user-info" v-if="loggedIn">
        <md-button id="userAvatar" v-if="loggedIn" @click="$router.push('/profile');" class="md-icon-button md-primary md-raised">
          <md-icon><i class="fas fa-user"></i></md-icon>
        </md-button>
        <h2 class="user-name">{{ userName }}</h2>
      </div>
    </md-toolbar>

    <md-list>

      <md-list-item>
        <md-button v-if="loggedIn && userRole === 'Admin' " class="md-primary" @click="$router.push('/admin');">Espace Administratif</md-button>
      </md-list-item>

      <md-list-item>
        <md-button v-if="loggedIn" @click="$router.push('/blog');">Le Blog du Magazine</md-button>
      </md-list-item>

      <md-list-item>
        <md-button v-if="loggedIn" @click="$router.push('/write');">Écrire un article</md-button>
      </md-list-item>

      <md-list-item>
        <md-button v-if="loggedIn" @click="$router.push('/search');">Recherche</md-button>
      </md-list-item>

      <md-list-item>
        <md-button v-if="loggedIn" class="md-accent" @click="$router.push('/logout');">Déconnexion</md-button>
      </md-list-item>

    </md-list>
  </md-drawer>

  <div id="bugReport" v-if="loggedIn">
    <md-dialog-prompt :md-active.sync="bugReport" v-model="bugContent" md-title="Quel problème avez-vous rencontré?" md-input-maxlength="100" md-input-placeholder="Décrivez la nature du bug .." @md-confirm="postBug" md-confirm-text="Envoyer" @md-cancel="dismissBug"
      md-cancel-text="Annuler" />
    <md-speed-dial md-direction="bottom" class="md-raised md-accent md-bottom-right">
      <md-speed-dial-target v-if="loggedIn" @click="bugReport = true">
        <i class="fas fa-bug"></i>
      </md-speed-dial-target>
    </md-speed-dial>
  </div>

  <div>
    <md-dialog-prompt :md-active.sync="bugReport" v-model="bugContent" md-title="Quel problème avez-vous rencontré?" md-input-maxlength="100" md-input-placeholder="Décrivez la nature du bug .." @md-confirm="postBug" md-confirm-text="Envoyer" @md-cancel="dismissBug"
      md-cancel-text="Annuler" />
  </div>

  <div>
    <md-dialog id="advancedSearch" v-if="loggedIn" :md-active.sync="showAdvancedSearch">
      <md-steppers>
        <md-step id="first" md-label="First Step" :md-editable="false">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
          <md-button class="md-primary" @click="closeSearch()"><i class="fas fa-times"></i></md-button>
        </md-step>

        <md-step id="second" md-label="Second Step" :md-editable="false" @click="incrementSearchProgress()">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
          <md-button class="md-primary" @click="closeSearch()"><i class="fas fa-times"></i></md-button>
        </md-step>

        <md-step id="third" md-label="Third Step" :md-editable="false" @click="incrementSearchProgress()">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
          <md-button class="md-primary" @click="closeSearch()"><i class="fas fa-times"></i></md-button>
        </md-step>

        <md-step id="fourth" md-label="Fourth Step" :md-editable="false" @click="incrementSearchProgress()">
          <md-datepicker v-model="selectedDate">
            <label>Sélectionnez une date</label>
          </md-datepicker>
          <md-button class="md-primary" @click="closeSearch()"><i class="fas fa-times"></i></md-button>
        </md-step>
      </md-steppers>
      <md-progress-bar md-mode="determinate" :md-value="searchProgress"></md-progress-bar>
    </md-dialog>

    <md-speed-dial md-direction="bottom" class="md-raised md-bottom-right">
      <md-speed-dial-target class="md-primary" id="advancedSearchButton" v-if="loggedIn" @click="showAdvancedSearch = true">
        <i class="fas fa-search"></i>
      </md-speed-dial-target>
    </md-speed-dial>
  </div>

  <div>
    <md-dialog-confirm :md-active.sync="searchExit" md-title="Vous nous quittez déjà ?" :md-content="'Vous étiez rendu à ' + searchProgress + '% de votre recherche. Ce serait dommage de pas finir ..'" md-confirm-text="Ouais ok" @md-confirm="newSearch" md-cancel-text="Nan pas envie" @md-cancel="resetSearchProgress" />
  </div>

  <div class="app-content">
    <router-view></router-view>
  </div>

</div>
</template>

<script>
import axios from 'axios';
axios.defaults.baseURL = 'http://127.0.0.1:8000/api/'

export default {
  name: 'App',
  data: () => ({
    loggedIn: false,
    userName: localStorage.getItem('userName'),
    userRole: localStorage.getItem('userRole'),
    showSidepanel: false,
    showAdvancedSearch: false,
    searchExit: false,
    searchProgress: 25,
    bugReport: false,
    bugContent: '',
    bugNumber: null,
    selectedDate: null,
  }),
  created() {
    Event.$on('login', ($userName, $userRole) => {
      this.loggedIn = true;
      this.userName = $userName;
      this.userRole = $userRole;
      localStorage.setItem('userName', $userName);
      localStorage.setItem('userRole', $userRole);
    })
    Event.$on('update', ($userName, $userRole) => {
      this.loggedIn = true;
      this.userName = $userName;
      this.userRole = $userRole;
      localStorage.setItem('userName', $userName);
      localStorage.setItem('userRole', $userRole);
    })
    Event.$on('logout', () => {
      this.loggedIn = false
      this.userName = null
      this.userRole = null
      this.showSidepanel = false
    })
    Event.$on('newBug', () => {
      this.quantifyBug()
    })
    let token = localStorage.getItem('token');
    if (token) {
      this.loggedIn = true;
    }
  },
  methods: {
    postBug() {
      axios.post('debugs', {
          user_name: this.userName,
          bug_content: this.bugContent,
        })
        .then(response => {
          Event.$emit('newBug');
          this.$data.bugContent = ''
        })
        .catch(error => {
          console.log(error)
        });
    },
    dismissBug() {
      bugContent: ''
    },
    quantifyBug() {
      axios.get('debugs').then(response => {
        this.bugNumber = response.data.length
      })
    },
    closeSearch() {
      this.showAdvancedSearch = false
      this.searchExit = true
    },
    newSearch() {
      this.showAdvancedSearch = true
      this.searchExit = false
    },
    incrementSearchProgress() {
      this.searchProgress = this.searchProgress + 25
    },
    resetSearchProgress() {
      this.searchProgress = 25
      this.selectedDate = null
    }
  },
  mounted() {
    this.quantifyBug()
  }
}
</script>

<style lang="scss">
@import "~vue-material/dist/theme/engine";
@include md-register-theme("default", (primary: #ff931e, accent: #40c4ff));
@import "~vue-material/dist/theme/all";
@import "vue-wysiwyg/dist/vueWysiwyg.css";

#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.has-background {
    background-image: url("https://images.pexels.com/photos/323772/pexels-photo-323772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
}
::-webkit-scrollbar {
    display: none;
}

.app-content {
    padding-top: 4rem;
}

svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

img {
    max-width: 20px;
}

.search {
    padding: 30px;
}

.nav {
    position: fixed;
    display: flex;
    align-items: center;
}

.md-p-r {
    color: white!important;
}

.md-speed-dial-target {
    position: fixed;
    bottom: 2em;
    left: 3em;
    z-index: 10;
}

.md-drawer {
    position: fixed;
}

.fa-bug {
    color: white;
}

.fa-user {
    color: white;
}

.fa-search {
    color: white;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    width: 100%;
}

.user-name {
    margin: 0 10px;
}

#advancedSearchButton {
    left: 10%;
}
</style>
